* {
	box-sizing: border-box;
}
body {
	background-image: url(images/patt.png);
}
.container {
	width: 1170px;
	margin: 0 auto;
}
.row:after,.menu:after, .search:after, .col-md-3:after {
	content: "";
	clear: both;
	display: block;
}
[class*="col-"] {
	float:left;
}
.col-md-3 {
	width: 25%;
	float: left;
}
.col-md-6 {
	width: 50%;
}
.header {
	padding: 25px 0;
	background-color:rgba(255,255,255,0.75)
}
.menu li {
	float: left;
	width: 25%;
	border-left: 1px solid #2c71b8;
}
.menu li a {
	display: block;
	height: 50px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	color: #2c71b8;
	font-size: 21px;
}
.menu li a:hover {
	background: #2c71b8;
	color: white;
}
.menu li:last-child {
	border-right: 1px solid #2c71b8;
}
}